#main {
    background-color: lightgray;
}
#title {
    text-align: center;
}

#img-div {
    margin: 0 auto;
}

#image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 600px;
}

#img-caption {
    text-align: center;
}

#tribute-info h3{
    text-align: center;
}

#tribute-info ul{
    max-width: 400px;
    margin: 0 auto;
}

#tribute-link-container{
    text-align: center;
}